<%- include('./partials/header') %>

<div class="container">
  <div class="image-upload-box">
    <% if (recipe && recipe.image_url) { %>
  <img
    id="image-preview"
    src="<%= recipe.image_url %>"
    alt="Recipe Image"
    class="recipe-image"
  />
<% } else { %>
  <img
    id="image-preview"
    style="display:none"
    alt="Recipe Image"
    class="recipe-image"
  />
<% } %>
    <% if (recipe) { %>
      <div class="delete-recipe-floating">
        <form action="/recettes/<%= recipe.id %>/delete" method="POST">
          <button type="submit" class="delete-btn" title="Supprimer">
            <img src="/images/Icons/delete.svg" alt="Supprimer" class="icon" />
          </button>
        </form>
      </div>
    <% } %>
    <div class="drag-drop-area" id="drag-drop-area">
      <p>Drag and drop (or) choose files</p>
      <input type="file" name="image" id="file-input" accept="image/*" style="display:none;" />
      <button type="button" class="upload-button" id="select-file-btn">
        <img src="/images/Icons/Upload.svg" alt="Upload" />
      </button>
    </div>
  </div>
  <form class="recipe-form" method="POST" enctype="multipart/form-data" action="<%= recipe ? '/recipes/' + recipe.id_recipe + '/edit' : '/recipes/add' %>">

    <div class="form-group">
      <label for="recipe-title">Titre Recette</label>
      <input 
        type="text" 
        id="recipe-title" 
        name="name" 
        placeholder="Valeur" 
        value="<%= recipe ? recipe.name : '' %>" 
      />
    </div>
    <div class="form-group">
      <label for="recipe-category">Catégorie</label>
      <input 
        type="text" 
        id="recipe-category" 
        name="category" 
        placeholder="Valeur" 
        value="<%= recipe && recipe.categories ? recipe.categories.name : '' %>" 
      />
    </div>
    <div class="form-group">
      <label for="recipe-film">Film</label>
      <input
        type="text"
        id="recipe-film"
        name="movie"
        placeholder="Chercher un film..."
        autocomplete="off"
        value="<%= recipe && recipe.movie ? recipe.movie.title : '' %>"
      />
      <ul
        id="film-suggestions"
        style="overflow: auto; padding: 0; margin-top: 5px"
      ></ul>
      <input type="hidden" name="tmdbMovieId" id="tmdbMovieId" value="<%= recipe ? recipe.id_movie : '' %>" />
      <input type="hidden" name="tmdbType" id="tmdbType" value="<%= recipe ? 'movie' : '' %>" />
    </div>

    <div class="form-group">
      <label for="recipe-instructions">Instructions</label>
      <textarea id="recipe-instructions" name="instructions" placeholder="Valeur"><%= recipe ? recipe.instructions : '' %></textarea>
    </div>
    <div class="form-group">
      <label for="recipe-ingredients">Ingrédients</label>
      <textarea id="recipe-ingredients" name="ingredients" placeholder="Valeur"><%= recipe ? recipe.ingredients : '' %></textarea>
    </div>
    <button type="submit" class="publish-button">Publier</button>
  </form>
</div>

<script src="/js/script.js"></script>

<%- include('./partials/footer') %>
