<div class="page-wrapper">
  <%- include('./partials/header') %>

  <main class="home-container">
    <section class="intro">
      <p class="intro-line">Bienvenue sur le site des passionnés du cinéma et de la cuisine !</p>
      <p class="intro-line">Vous trouverez des recettes de cuisine inspirées de vos films préférés.</p>
      <p class="intro-note">-Attention, ces recettes peuvent contenir des spoilers… et beaucoup de fromage-</p>
    </section>

    <div class="heading-filter-wrapper">
      <h2 class="section-heading">
        <span class="dash">-</span> À L’AFFICHE <span class="dash">-</span>
      </h2>
      <div class="filter-container" style="position: relative;">
        <button class="filter-btn" aria-label="Filtrer les recettes" id="filterBtn" type="button">
          <img src="/images/Icons/filters.svg" alt="Filtrer" />
        </button>
        <div class="filter-dropdown" id="filterDropdown">
          <div class="filter-section">
            <label for="category-filter">Catégorie :</label>
            <select id="category-filter">
              <option value="">Toutes les catégories</option>
              <% categories.forEach(category => { %>
                <option value="<%= category.id_category %>"><%= category.name %></option>
              <% }); %>
            </select>
          </div>
          <div class="filter-section" style="position: relative">
            <label for="movie-filter">Film :</label>
            <input type="text" id="movie-filter" placeholder="Rechercher un film..." autocomplete="off" />
            <ul id="film-suggestions" class="autocomplete-suggestions"></ul>
            <input type="hidden" id="movie-id-hidden" />
          </div>
          <button id="applyFilter" type="button">Appliquer</button>
        </div>
      </div>
    </div>

    <section class="cards" id="cards"></section>

    <p id="noResult" style="display:none; text-align:center; margin-top:20px; font-weight:bold; color:#900;">
      Aucune recette trouvée pour ce filtre.
    </p>

    <div class="cta">
      <a href="#" class="btn-load-all" id="showMoreBtn">AFFICHER PLUS</a>
    </div>

    <div class="pagination" id="pagination" style="display: none;"></div>

    <template id="recipe-template">
      <a class="card-link" href="">
        <article class="card">
          <div class="card-image">
            <img src="" alt="" />
          </div>
          <div class="card-body">
            <h3 class="recipe-title"></h3>
            <p class="film-title"><em></em><span class="film-title-type"></span></p>
          </div>
        </article>
      </a>
    </template>
  </main>

  <script>
    
    const allRecipes = <%- JSON.stringify(recipes) %>;
    const allMovies = <%- JSON.stringify(movies) %>;
  </script>
  <script src="/js/script-home.js"></script>
  <%- include('./partials/footer') %>
</div>
