<%- include('./partials/header') %>

<section>
    <div class="register-container">
        <% if (typeof errorMessage !== "undefined" && errorMessage) { %>
        <div class="error-register"><%= errorMessage %></div>
        <% } %>
        <form action="/register" method="POST">
            <div class="input-group">
                <div class="username-register">Pseudo</div>
                <input
                    type="text"
                    name="nickname"
                    class="class-username"
                    value="<%= typeof nickname !== 'undefined' ? nickname : '' %>"
                    required
                />
            </div>

            <div class="input-group">
                <div class="mail-register">Email</div>
                <input
                    type="email"
                    name="email"
                    class="class-email"
                    value="<%= typeof email !== 'undefined' ? email : '' %>"
                    required
                />
            </div>

            <div class="input-group">
                <div class="password-register">Mot de passe</div>
                <input
                    type="password"
                    name="password"
                    class="class-password"
                    pattern="^(?=.*[A-Za-z])(?=.*\d)[^\s]{8,}$"
                    title="Au moins 8 caractères, avec au moins une lettre et un chiffre"
                    required
                />
            </div>

            <div class="input-group">
                <div class="confirm-password-register">
                    Confirmation de mot de passe
                </div>
                <input
                    type="password"
                    name="confirmedPassword"
                    class="class-confirm-password"
                    pattern="^(?=.*[A-Za-z])(?=.*\d)[^\s]{8,}$"
                    title="Au moins 8 caractères, avec au moins une lettre et un chiffre"
                    required
                />
            </div>

            <button type="submit" class="register-button">S'inscrire</button>
        </form>
    </div>
</section>

<%- include('./partials/footer') %>
